/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // bootstrap files
 @import "bootstrap";

 // fontawesome files
 @import "font-awesome-sprockets";
 @import "font-awesome";

 @import "static_pages";

 body {
   background: #d7dce5;
   color: #393939;
 }
 a {
   color: #393939;
 }
 a:hover {
   color: #393939;
   text-decoration: none;
 }
 /* global display values */
 .display {
   &.ib {
     display: inline-block;
   }
   &.b {
     display: block;
   }
 }
 /* global margin values */
 .margin {
   &.mt-10 {
     margin-top: 10px;
   }
   &.mt-20 {
     margin-top: 20px;
   }
   &.mb-10 {
     margin-bottom: 10px;
   }
   &.mb-20 {
     margin-bottom: 20px;
   }
 }
 /* global float values */
 .float {
   &.left {
     float: left;
   }
   &.right {
     float: right;
   }
 }
 .paper-panel {
    background: #fff;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
 }
 .list-group-item.navigation {
   border: none;
   background-color: transparent;
 }
.pagination {
  margin-left: auto;
  margin-right: auto;
}
